h1
{
	margin: 0;
	padding: 0;
	text-align: center;
	color: #900000;
}

h4
{
	margin: 0;
	padding: 5 0;
	text-align: left;
	color: #900000;
	font-size: .75em;
}

h4 a
{
	text-decoration: none;
	color: #900000;
	margin: 0;
}

h4 a:hover
{
	color: #600000;
}

.condition, .rm
{
	color: #fff;
    text-align: left;
    margin: 5 10;
    font-size: .75em;
}

#listingImg
{
	width: 258;
	float: left;
	margin: 5 0 0 0;
}

.mini
{
	-webkit-transition:opacity .2s ease;
	transition:opacity .2s ease;
	transition-delay: 0;
	transition-timing-function: linear;

	opacity: 1;

	width: 60;
	height: 60;
	margin: 5 1 5 0;
	padding: 0;
	border-width: 0;
	cursor: pointer;
}

.mini:hover
{
	-webkit-transition:opacity .1s ease;
	transition:opacity .1s ease;
	transition-delay: 0;
	transition-timing-function: linear;

	opacity: .7;
}

#listing
{
	float: left;
	width: 612;
	margin: 5 15;
	text-align: left;
}

a
{
    color: inherit;
    text-decoration: none;
}
