.content
{
	text-align: center;
}

#enterMatrix
{
    -webkit-transition:all .2s ease;
	transition:all .2s ease;
	transition-delay: 0;
	transition-timing-function: linear;
}

#enterMatrix:hover
{
    -webkit-transition:all .1s ease;
	transition:all .1s ease;
	transition-delay: 0;
	transition-timing-function: linear;

    opacity: .8;
}