#content
{
	text-align: center;
}

.item
{
	//display: block;
}

.left
{
	width: 390;
	float: left;
	text-align: right;
	height:32;
	padding: 0 15 0 0;
	//background-color: red;
}

.right
{
	margin: 0 0 0 0;
	height: 32;
	text-align: left;
	//background-color: green;
}

#tall
{
	height: 128;
	//background-color: blue;
}

select, input[type="text"], input[type="file"], textarea, input[type="password"]
{
	width: 250;
}
